/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: black; }
a { color: rgb(0, 0, 0); }
a:hover { color: white; }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: monospace;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}

/* HEADER */
header { 
    background-color: rgb(0, 60, 255);
    color: rgb(0, 0, 0);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: none;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header a:hover {
    color: rgb(0, 0, 0);
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main {
    background: rgb(121, 206, 255);
}

/* FOOTER */
footer {
    border-top: 1px solid rgba(rgb(0, 0, 0));
    padding: 1em;
}

/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a {
    display: block;
    padding: 1em;
}

/* HERO SECTION */
.hero {
    background-color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
    padding: 2em 1em;
}

/* COURSES SECTION */
.courses {
    padding: 5em 1em;
    display: grid;
    justify-content: center;
}

.courses h3 {
    text-align: center;
}
