/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: black; }
a { color: rgb(0, 0, 0); }
a:hover { color: white; }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: monospace;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}

/* HEADER */
header { 
    background-color: rgb(77, 77, 77);
    color: rgb(0, 0, 0);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: none;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header a:hover {
    color: rgb(0, 0, 0);
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Helvetica;
    font-size: 81%;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main {
    background: rgb(241, 232, 214);
}

/* FOOTER */
footer {
    border-top: 1px solid rgba(rgb(0, 0, 0));
    padding: 1em;
}

/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a {
    display: block;
    padding: 1em;
}

/* HERO SECTION */
.hero {
    background-color: rgb(207, 199, 184);
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 1em;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
    padding: 2em 1em;
    font-size: 14px;
}

.hero h1 {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 900;
}

.emmanuel {
    font-style: oblique;
    font-size: 80px;
}



/* COURSES SECTION */
.courses {
    padding: 5em 1em;
    display: grid;
    justify-content: center;
}

.courses h2 {
    text-align: left;
    font-family: Helvetica;
    font-weight: 900;
}

.courses img {
    display: block;
}

/* SUB PAGES */
.page-sub .hero {
    background-color:  rgb(163, 201, 216);
    color:rgb(0, 0, 0)
}

.page-sub-b {
    background: rgb(201, 225, 241);
}

/* COURSE WORK */ 
.course-work {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project h3 {
    font-family: Helvetica;
    font-weight: 900;
}

.project {
    margin: 2em;
}

/* NOTES LAYOUT */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.section {
    padding: 3em 1em;
}

.primary h2 {
    font-family: Helvetica;
    font-weight: 900;
}

.markup-box h2 {
    font-family: monospace;
    font-size: 15px;
}

/* SIDEBAR/ASIDE */
.aside {
    padding: 2em 0;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1 px solid rgba(0, 0, 0, 0.1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
    }
}

.pre, code {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

/* GIST */
@media (min-width: 768px) and (max-width: 883px) {
    .gist {
        max-width:  450px; 
    }
}