/* --------------------
CSS TABLE OF CONTENTS
    # BASE CONTENT
        # BASE TYPOGRAPHY
            # BODY
            # HEADINGS
            # PARAGRAPHS
        # MEDIA
            # IMAGES

-------------------- */
body {
    /* SET BODY TO 14px*/
    font-size: 87.5%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0 0 0 / .8);
}

/*

@media (min-width: 768px) {

    body {
        font-size: 100%;
    }
}

@media (min-width: 1200px) {

    body {
        font-size: 112.5%;
    }
}

*/

h1 {
    font-size: 2.25em;
    line-height: 1;
}

h2 {
    font-size: 1.875em;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em;
    line-height: 1.3;
}

h5 {
    font-size: 1.125em;
    line-height: 1.4
}

h6 {
    font-size: 1em;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: .5em 0;
}


p+h1,
p+h2,
p+h3,
p+h4,
p+h5,
p+h6 {
    margin-top: 2em;
}

/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */

/* SIMPLE RESET */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* CONTAINER */

.container {
    max-width: 1200px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .0);
}

/* MEDIA QUERIES */



/* FOR DEMO PURPOSES ONLY */

body.demo {
    padding-top: 2em;
}

body.demo::before {
    content: "Small Screen: 768px";
    background-color: #5f3399;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    color: white;
    padding: .5em;
}

@media (min-width: 768px) {
    body.demo::before {
        background-color: #993333;
        content: "Midsize Screen: 768px-1050px";
    }
}

@media (min-width: 1050px) {
    body.demo::before {
        background-color: rgb(153, 116, 35);
        content: "Large Screen: 1050-1250px";
    }
}

@media (min-width: 1250px) {
    body.demo::before {
        background-color: rgb(82, 153, 35);
        content: "Max Screen: 1250px";
    }
}

/* SEMATIC GRID SYSTEM */

.row>.column {
    margin-bottom: 0%;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row>.column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row>.column.one-half {
        max-width: 46%;
    }

    .row>.column.one-third {
        max-width: 29.3333%;
    }

    .row>.column.two-third {
        max-width: 62.6666%;
    }

    .row>.column.one-fourth {
        max-width: 21%;
    }

    .row>.column.centered {
        margin-left: auto;
        margin-right: auto;
    }

}

/* FOR DEMO PURPOSES ONLY */
.demo .column {
    background: rgba(0, 0, 0, .2);
    padding: .5em;
    text-align: center;
}

/* BUTTON */
.button,
button,
form input[type="submit"] {
    font-size: inherit;
    line-height: 1;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    padding: 1em;
    display: inline-block;
    margin: .5em .5em .5em .0em;
    text-align: center;
    border-radius: .5em;
    text-decoration: none;
    cursor: pointer;
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.button.alt {
    background-color: white;
    color: rgb(0, 0, 0);
}

.button.alt:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}





















/* CODE FOR BASE-SITE */

/* SITE STRUCTURE */

/*.container {
    border: 2px solid red;
} */

/* SITE HEADER */
.site-header {
    padding: 1em 0;
}

/* FOR LARGER SCREEN */
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
    }
}

/* STYLING HEADER & FOOTER */

.site-header a,
.site-footer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.site-header a:hover,
.site-footer a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* LOGO AREA */

.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    padding-top: .55em;
    text-align: center;
}

/* SITE NAV */

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a {
    display: block;
    padding: 1em;
}


.site-nav .menu-button {
    display: none;
}

/* SITE MAIN */

/*.site-main {
    background-color: rgba(21, 255, 0, 0.2);
} */

/* SECTIONS */
section {
    padding: 3em 0;
}

/* HERO */
.hero {
    padding: 0 4%;
}

.hero {
    padding: 6em 4%;
    background-color: rgb(0, 0, 0, .1);
    text-align: center;
}

.hero h1,
.hero p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}










/* MOBILE TOGGLE NAV */

@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
    }

    .toggle-nav .site-nav {
        text-align: right;

    }

    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: .3em .8em;
        margin: .8em 0;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid rgb(0, 0, 0, 1);
        color: rgb(0, 0, 0, 1);
    }

    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(255, 255, 255, 0);
    }

    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }

    .toggle-nav .site-nav a:hover {
        background-color: blue;
        color: white;
    }

    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }

    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255, 255, 255, 0);
    }

    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: 0 .0;
        margin: 0;
        color: rgb(0, 0, 0, .8);
        font-size: 1.5em;
    }

    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }

}

/* HIDE NAV ICONS */
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


/* SUB PAGES */

article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

article h1 {
    text-align: center;
}

article h2 {
    font-size: 1.8em;
    line-height: 1.2;
}

article .subhead {
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2;
    color: rgba(0, 0, 0, .7);
}

article div.date {
    text-align: center;
    color: rgba(0, 0, 0, .5);
    font-size: .8em;
    margin-top: 2em;
    margin-bottom: 3em;
}

article p+h1,
article p+h2 {
    margin-top: 2em;
}

blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
    line-height: 1.8;
    color: rgba(0, 0, 0, .5);
}

/* CONTACT FORM */

form {
    max-width: 600px;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;

}

form label,
form input,
form textarea {
    display: block;
    width: 100%;
    font-size: 1em;
}

form label {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

form input[type="text"],
form textarea {
    border: 1px solid rgb(199, 199, 199);
    padding: .5em;
    color: rgba(0, 0, 0, .5)
}

form textarea {
    min-height: 10em;
    line-height: 1.5;
}

form input[type="submit"] {
    margin-top: 1.5em;
    width: auto;
}

/* CUSTOM SITE CSS */

.section-title {
    text-align: center;
    margin-bottom: 3em;

}

.section-title::after {
    content: "";
    display: block;
    width: 100px;
    margin: .5em auto;
    border-bottom: 3px solid rgba(0, 0, 0, .2);

}

.site-header.sticky {
    position: fixed;
    margin-left: 80%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1
}

.site-header.sticky+main {
    padding-top: 3em;

}

/* VERTICAL MEDIA QUERY */

/*@media (min-height: 400px) {
   #contact {
    padding-bottom: 20em;
   } 
}
*/


















/* AQUA DISCUSS */

.container {
    padding: 0;
    max-width: 100%;
}

/* TYPE FACE */



/* site-main */

.site-main {
    background-color: #FFE8D3;
}

/* IMAGE STYLING + COLUMN PADDING */

@media (min-width: 500px) {

    .hero-img {
        border-radius: 0px 0px 0px 20px;
    }

    img.rounded-corners {
        border-radius: 20px;
    }

    img.tilt {
        max-width: 100%;
        margin-top: 0em;
        margin-left: 0em;
        transform: rotate(0deg);
        height: auto;
    }

    .column.one-half {
        padding: 4em 0;
    }

    .column.one-half.img-column {
        padding: 0;
        padding-top: 4em;
    }

    .row.plant {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: 768px) {
    .hero-img {
        border-radius: 0px 0px 0px 50px;
    }

    img.rounded-corners {
        border-radius: 15px;
    }

    img.tilt {
        max-width: 80%;
        margin-top: 2em;
        margin-left: 2em;
        transform: rotate(10deg);
        height: auto;
    }

    img.alt.tilt {
        max-width: 80%;
        margin-top: 2em;
        margin-left: 0;
        margin-right: 2em;
        transform: rotate(-10deg);
        height: auto;
    }

    .row.plant {
        display: flex;
        flex-direction: column;
        flex-direction: row;
    }
}

/* TEXT STYLING */

.w-i-y-t {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    font-size: 10vw;
    font-size: clamp(4em, 11.5vw, 15.3em);
    line-height: 100%;
    height: auto;
}



h1 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    line-height: 100%;
    margin-top: 0;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    text-align: left;
}

/* NEW BUTTON STYLING */

.button,
button,
form input[type="submit"] {
    line-height: 1;
    position: absolute;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid black;
    border-radius: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 4px 6px;
    color: rgb(0, 0, 0);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* FONT */
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
    position: absolute;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px 6px;
    color: rgb(0, 0, 0);
}

.button.alt {
    position: absolute;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    border-radius: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 4px 6px;
    color: rgb(255, 255, 255);
}

.button.alt:hover {
    position: absolute;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
    padding: 4px 6px;
    color: rgb(255, 255, 255);
}

/* HEADER */

.site-id {
    padding-right: 35px;
}

.site-nav {
    padding-left: 0;
}



/* SECTION BLACK + GREEN + VANILLA */

.section-1 {
    padding: 0;
    padding-left: 6%;
}

.section-2 {
    margin: 0 auto;
    padding: 0;
    padding-left: 0px;
}

.section-3 {
    padding: 0;
    padding-left: 0px;
}

.bar-green {
    padding: 0;
    background-color: #00AF11;
}

.bar-vanilla {
    padding: 0;
    padding-left: 0px;
    background-color: #FFE8D3;
}

.black {
    padding: 0;
    margin-left: 6.6%;
}

.green {
    padding: 0;
    margin-left: 6%;
    background-color: #00AF11;
    border-radius: 0px 0px 0px 55px;
}


.vanilla {
    padding: 0;
    padding-left: 19.5%;
    padding-right: 15.5%;
}

.vanilla-bg {
    padding: 0;
    /* padding-left: 16.7%;
    padding-right: 15.5%; */
    background-color: #FFE8D3;
}

/* HERO */

.hero {
    padding: 0em 0em;
    padding-left: 7.3%;
    background-color: rgb(0, 0, 0, 1);
    text-align: center;
    min-height: 100%;

}

/* TANK IMAGE */

.tank {
    padding: 0;
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    max-height: 929px;
}

.tank img {
    flex-shrink: 0;
    width: 100%;
    object-fit: cover;

}

.w-i-y-t {
    position: absolute;
    bottom: 5%;
    padding-left: 3%;
    color: #FFC700;
    text-align: left;
}

/* WHATS NEW + ANGEL IMAGE */

.whats-new {

    padding-left: 8.5%;
    padding-right: 15%;
    padding-top: 0em;
    padding-bottom: 0em;
    background-color: rgb(0, 0, 0, 1);
    color: #FFC700;
}

.img-angel-container {
    position: relative;
}

.img-angel-text {
    pointer-events: none;
    position: absolute;
    left: 0px;
    z-index: 1;
    opacity: 80%;
}

.img-angel:hover {
    cursor: pointer;
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* PADDING FOR 1/2 COLUMN */

.row {
    padding: 0em 0;
}

/* CONTENT */

.content {

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0em;
    padding-bottom: 0em;
    background-image: linear-gradient(#00AF11, #FFC700);
    color: rgb(0, 0, 0);
    border-radius: 0px 0px 0px 0px;
}

/* ABOUTS US + SUPPORT US */

.about-us {
    padding: 0em 0;
    background-color: rgba(0, 0, 0, .0);
    color: rgb(0, 0, 0);
}

img.icon2 {
    max-width: 100%;
    pointer-events: none;
}

/* SITE-FOOTER */

.site-footer {
    padding: 3em 0;
    padding-left: 19.5%;
    padding-right: 15.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, .9);
}

img.icon {
    max-width: 100%;
    align-self: center;
    pointer-events: none;
}

.gmail {
    display: flex;
}

.phone {
    display: flex;
}

.insta {
    display: flex;
}

p.icon-text {
    margin-left: 5%;
    margin-right: 0;
}

footer.site-footer p {
    font-size: 1.5em;
    line-height: 2em;
}

footer.site-footer h1 {
    font-size: 2.5em;
    line-height: 2em;
}

/* FOR BACKGROUND */

@media (min-width: 768px) {
    .row2 {
        display: flex;
    }

    .row2>.column {
        flex-grow: 1;
    }

    .row2>.column.one-third-bg .column.one-half-bg {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .row2>.column.one-third-bg.middle {
        min-width: 85%;
        max-width: 85%;
    }
}

/* STICKY NAV */
/* VANILLA */

.v-icon {
    width: clamp(10px, 3vw, 60px);
    height: 80px;
    margin-bottom: -120px;
    background: rgba(0, 0, 0, 0);
    position: sticky;
    top: 1em;
    margin-left: 1.40%;
    padding-bottom: 1em;
}

.v-icon img {
    position: absolute;
    top: 0;
    left: 0;
}

.vanilla-bg {
    position: relative;
    margin-top: 0px;
}

.vanilla-base {
    min-height: 5.5em;
    background-color: #FFE8D3;
    padding: 0;
}

/* GREEN */

.g-icon {
    width: clamp(10px, 3vw, 60px);
    height: 80px;
    margin-bottom: -120px;
    background: rgba(0, 0, 0, 0);
    position: sticky;
    top: 1em;
    margin-left: 1.7%;
    padding-bottom: 1em;
}

.g-icon img {
    position: absolute;
    top: 0;
    left: 0;
}

.green {
    position: relative;
    margin-top: 0px;
}

.green-base {
    min-height: 5.5em;
    background-color: #FFC700;
    border-radius: 0px 0px 0px 20px;
    padding: 0;
    margin-left: 6%;
}

/* BLACK */

.b-icon {
    width: clamp(10px, 3vw, 60px);
    height: 80px;
    margin-bottom: -120px;
    background: rgba(0, 0, 0, 0);
    position: sticky;
    top: 1em;
    margin-left: 2%;
    padding-bottom: 1em;
}

.b-icon img {
    position: absolute;
    top: 0;
    left: 0;
}

.black {
    position: relative;
    margin-top: 0px;
}

.black-base {
    min-height: 5.5em;
    background-color: black;
    border-radius: 0px 0px 0px 20px;
    padding: 0;
    margin-left: 6.6%;
}

.tank {
    margin-top: 120px;
}

/* TEXT SCALING */

@media (min-width: 500px) {

    p {
        font-size: 2em;
    }

    h1 {
        font-size: 4em;
    }

    .button {
        font-size: 2em;
    }

}

@media (min-width: 768px) {

    p {
        font-size: 1.3em;
    }

    h1 {
        font-size: 2.5em;
    }

    .button {
        font-size: 1.3em;
    }


    .column.one-half {
        padding: 5em 0;
        padding-bottom: 0em;
    }

    .column.one-half.img-column {
        padding: 5em 0;
        padding-bottom: 0em;
    }

    img.icon {
        max-width: 100%;
    }

    .v-icon {
        margin-bottom: -104px;
    }

    .g-icon {
        margin-bottom: -104px;
    }

    .green-base {
        border-radius: 0px 0px 0px 25px;
    }

    .b-icon {
        margin-bottom: -104px;
    }

    .black-base {
        border-radius: 0px 0px 0px 25px;
    }

    .tank {
        margin-top: 72px;
    }

    .content {

        padding-left: 14.2%;
        padding-right: 20%;
    }
}

@media (min-width: 872px) {

    p {
        font-size: 1.5em;
    }

    h1 {
        font-size: 3em;
    }

    .button {
        font-size: 1.5em;
    }

    .column.one-half {
        padding: 6em 0;
        padding-bottom: 0.5em;
    }

    .column.one-half.img-column {
        padding: 6em 0;
        padding-bottom: 0.5em;
    }

    img.icon {
        max-width: 100%;
    }

    .v-icon {
        margin-bottom: -98px;
    }

    .g-icon {
        margin-bottom: -98px;
    }

    .green-base {
        border-radius: 0px 0px 0px 30px;
    }

    .b-icon {
        margin-bottom: -98px;
    }

    .black-base {
        border-radius: 0px 0px 0px 30px;
    }

    .tank {
        margin-top: 54px;
    }

    .content {

        padding-left: 14.2%;
        padding-right: 20%;
    }
}

@media (min-width: 1156px) {

    p {
        font-size: 2em;
    }

    h1 {
        font-size: 4em;
    }

    .button {
        font-size: 2em;
    }

    .column.one-half {
        padding: 7em 0;
        padding-bottom: 2em;
    }

    .column.one-half.img-column {
        padding: 7em 0;
        padding-bottom: 2em;
    }

    img.icon {
        max-width: 100%;
    }

    .v-icon {
        margin-bottom: -80px;
    }

    .g-icon {
        margin-bottom: -80px;
    }

    .green-base {
        border-radius: 0px 0px 0px 40px;
    }

    .b-icon {
        margin-bottom: -80px;
    }

    .black-base {
        border-radius: 0px 0px 0px 40px;
    }

    .tank {
        margin-top: 0px;
    }

    .content {

        padding-left: 14.2%;
        padding-right: 20%;
    }
}


@media (min-width: 1522px) {

    p {
        font-size: 2.5em;
    }

    h1 {
        font-size: 5em;
    }

    .button {
        font-size: 2.5em;
    }

    .column.one-half {
        padding: 9em 0;
        padding-bottom: 3em;
    }

    .column.one-half.img-column {
        padding: 9em 0;
        padding-bottom: 3em;
    }

    img.icon {
        max-width: 100%;
    }

    .v-icon {
        margin-bottom: -80px;
    }

    .g-icon {
        margin-bottom: -80px;
    }

    .green-base {
        border-radius: 0px 0px 0px 50px;
    }

    .b-icon {
        margin-bottom: -80px;
    }

    .black-base {
        border-radius: 0px 0px 0px 50px;
    }

    .tank {
        margin-top: 0px;
    }

    .content {

        padding-left: 14.2%;
        padding-right: 20%;
    }
}

/* DONATE BUTTON */

.donate {
    align-items: center;
    margin-top: 10%;
    border-width: 20;
    max-width: 10em;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 1);
    color: #FFC700;
    text-align: center;
    border-radius: 0.35em;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 1;
    /* FONT */
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5em;
    cursor: pointer;
}

/* NAV */